:root{
    --width:290px;
    --height:405px;
}
.container{
    width:var(--width);
    height:var(--height);
    transition: all 0.1s;
}
.overlay{
    position: absolute;
    width:var(--width);
    height:var(--height);
    background: linear-gradient(105deg,
    transparent 40%,
    rgba(255,219,112,0.8) 45%,
    rgba(159, 95, 255, 0.6) 50%,
    transparent 54%);
    filter: brightness(1.0) opacity(1);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
}
.card{
    width:var(--width);
    height:var(--height);
    background-image: url(images/pika.png);
    background-size: cover;
}
.set{
    margin-top: 70;
    margin-left:160;
    margin-bottom: 70;
    margin-right: 160px;
}