:root{
    --width:296px;
    --height:410px;
}
.container{
    width:var(--width);
    height:var(--height);
    transition: all 0.1s;
}
.card{
    width:var(--width);
    height:var(--height);
    background-image: url(images/back.png);
    background-size: cover;
}
.set{
    margin-top: 70;
    margin-left:160;
    margin-bottom: 70;
    margin-right: 160px;
}